.day-dis{
    margin-left: 10px;
}
.collapes-week button:active{
    color: purple;
}
.dataCheck{
    width:300px;
    height: 200px;
}
.dataCheck button{
    border-radius: 0px !important;
    border: 0px red !important;
}
.btn{

   border-radius: 0px red !important;
    border: 0px red !important;
}
.btn-primary{
    
   border-radius: null !important;
    border: 0px red !important;
    
}
.button-style-of-day-week{
    box-shadow: none !important;
}